.input-wrapper{
  margin-bottom: 10px;
}

.label {
  font-size: 8px;
  line-height: 9.38px;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.input {
  width: 100%;
  max-width: 211px;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  font-size: 10px;
  line-height: 12px;
  padding: 5px 10px;
  &_error{
    border-color: #D91313;;
  }
  &:read-only{
    color: rgba(0, 0, 0, 0.3);
  }
  &:focus{
    outline:none;
  }
}